div
  mat-card
    mat-card-header
      mat-card-title Password Reset
    mat-card-content
      div(class='column')
        mat-form-field
          mat-label New Password
          input(type='password' matInput '[formControl]'='password')
        mat-form-field
          mat-label Confirm Password
          input(type='password' matInput '[formControl]'='confirm' '(keyup)'='onKey()')
        h6(*ngIf='password.hasError(\'pattern\')') Password must contain at least one uppercase letter, one lowercase letter and one number
        h6(*ngIf='password.value !== confirm.value') Passwords do not match
    mat-card-actions(align='end')
      button(*ngIf='!passwordForm.valid' mat-button disabled) Change Password
      button(*ngIf='passwordForm.valid' mat-button color='primary' '(click)'='onSubmit(passwordForm.value)') Change Password
