h2(mat-dialog-title) Password Recovery
mat-dialog-content
  div(class='column')
        mat-form-field
          mat-label Email
          input(matInput '[formControl]'='Email')
mat-dialog-actions(align='end')
  button(mat-button mat-dialog-close) Cancel
  button(*ngIf='!Email.valid' mat-button disabled) Reset password
  button(*ngIf='Email.valid' mat-button color='primary' '(click)'='onSubmit(Email.value)') Reset password
