h2(mat-dialog-title) Community Rules
mat-dialog-content
  ul
    li Be respectful toward other members of the community, any verbal abuse or sign of harassment will be sanctioned accordingly
    li Take care of the environment in the server (not leaving floating trees, when chopping trees down placing saplings on the area and repairing creeper holes
    li Have
      |
      |
      b common sense
      | , this is probably the most important of the rules, we believe you have the ability to make a good judgement about the actions you take and are able to identify what's good from what its not.
    li Avoid any kind of political arguments that may be controversial or hurtful toward other people, at least within out community chats and the minecraft server
