div
  div
    mat-card
      mat-card-header
        mat-card-title Identity
        mat-card-subtitle Who are we?
      img(mat-card-image src="https://i.imgur.com/Kj9APb4.png")
      mat-card-content
        p
          | We're a minecraft community with a focus on the technical and aesthetic side of the game.
          | Our goal has always been to give our members a unique experience inside of the game and
          | have a good time with eachother. We were founded on June 2015 by _Dani under the name of
          | "VoidCrafters". Since then, we've collected enough data based on trial and error to bring
          | you a private server as healthy and entertaining as possible. We've seen what works and
          | what does not work over all this time and we're confident that this will be a long-term
          | server for you to enjoy alongside the other community members.
  div
    mat-card
      mat-card-header
        mat-card-title Our work
        mat-card-subtitle What do we do?
      img(mat-card-image src="https://i.imgur.com/hKNKXLW.png")
      mat-card-content
        p
          | As we mentioned earlier with our introduction, we've been around for quite a while and we
          | have invested hundreds of hours to hundreds of proyects, either personal or colective ones,
          | We'd like to give you a glimpse of some of the things we did on Qbitmc's season 4 which started
          | right after the innovation of a couple administrative processes and left the second name in
          | which we were acknowledged by: "nms" in
          |
          a(href="https://youtu.be/6NwR5OY_v6A") this video.
        p
          | After a couple of months, that season ended due to a new proyect we were working on where we wanted
          | to completely change in which we played, opening a bigger public server but we started to deviate
          | from our roots and remembered that all of this was made with the community and the sense of it in mind
          | that made us abandon that proyect and start the fifth season of our SMP which was the first one to
          | have non-vanilla mechanics alike to those implemented in the HermitCraft series
          |
          a(href="https://imgur.com/a/dSfBL") (here's an album with some screenshots of said season)
        p
          | That should be enough history and media for you to get an idea of the work we do here, we have a lot
          | of ideas and plans in mind and we're sure that the seventh season of our survival will be quite special
          | if you'd like to know more about it, keep on reading!
  div
    mat-card
      mat-card-header
        mat-card-title Things you need to know
        mat-card-subtitle Joining QbitMC's Seventh Season
      img(mat-card-image src="https://i.imgur.com/chmiqYh.png")
      mat-card-content
        h2 The way we play the game
        p To be completed
        h2 Additional features
        p
          | As you've probably read before, we believe that you now have an idea that we're not a really conventional SMP.
          | We have additional features to increase the overall experiences of all of our community members. These additional
          | features do not have any kind of impact in the vanilla behaviour of the game, all of it thanks to
          |
          a(href="https://fabricmc.net/") Fabric
          | , Mojang for providing the ability to make modifications through datapacks, and the team behind
          |
          a(href="https://vanillatweaks.net/") Vanilla Tweaks
          |
          | for providing such an amazing collection of datapacks. Without further reading, here are the features we've been
          | talking about:
        mat-list
          div(mat-subheader) Datapacks
          mat-list-item(*ngFor='let datapack of datapackList')
            div(mat-line)
              a(href='{{datapack.source}}') {{datapack.name}}
          div(mat-subheader) Server-Side Modifications
          mat-list-item(*ngFor='let modification of modificationList')
            div(mat-line)
              a(href='{{modification.source}}') {{modification.name}}
        // mat-accordion
          mat-expansion-panel
            mat-expansion-panel-header
              mat-panel-title Server-Side Modifications
            mat-list
              mat-list-item(*ngFor='let modification of modificationList')
                div(mat-line)
                  a(href='{{modification.source}}') {{modification.name}}
          mat-expansion-panel
            mat-expansion-panel-header
              mat-panel-title Datapacks
                mat-list
                  mat-list-item(*ngFor='let datapack of datapackList')
                    div(mat-line)
                      a(href='{{datapack.source}}') {{datapack.name}}


