@media only screen and (min-width: 1024px) {
  .basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-areas: 'a b b c' 'a b b c' 'a b b c';
    grid-template-rows: 30% auto auto;
    grid-template-columns: 20% auto auto 20%;
    width: 100%;
    height: 94.6%;
  }

  mat-toolbar {
    margin: 1rem 0;
  }

  .a, .c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: inherit;
  }

  .a {
    grid-area: a;
  }

  .b {
    grid-area: b;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
  }

  .c {
    grid-area: c;
  }

  .a > mat-card {
    width: 80%;
    overflow-y: auto;
    max-height: 90%;
  }

  .c > mat-card {
    width: 80%;
    overflow-y: auto;
    max-height: 40%;
  }

  .content {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

}

@media only screen and (max-width: 1024px) {
  .basic-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .a, .b, .c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 1rem 0;
  }

  .a > mat-card, .c > mat-card {
    width: inherit;
    max-height: fit-content;
    overflow-y: auto;
  }

  .c > mat-card {
    margin-top: 1rem;
  }

  .content {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}

.header-image {
  background-image: url('../../assets/rainbow.png');
  background-size: cover;
}

.announcement {
  overflow-y: auto;
  max-height: 50em;
}

p {
  text-align: justify;
  padding: 0em 1em;
}

h3 {
  text-align: center;
}
