h2(mat-dialog-title) Application Form
mat-dialog-content
form('[formGroup]'='applicationForm')
  div(class='form')
    mat-vertical-stepper
      mat-step(label="First Steps...")
        div(class='row')
          mat-form-field(class='full-width')
            mat-label Forename
            input(matInput formControlName="Forename")
          mat-form-field(class='full-width')
            mat-label In Game Name
            input(matInput #ign '(keyup)'="onKey(ign.value)" formControlName="IGN")
          div(*ngIf="url && url != 'https://minotar.net/helm//100.png'")
            img(src='{{url}}' class='avatar')
        div(class='buttons')
          button(mat-button matStepperPrevious) Back
          button(mat-button matStepperNext) Next
      mat-step(label="Tell us about yourself!")
        div(class='row')
          mat-form-field(class='full-width')
            mat-label Reasons
            textarea(matInput placeholder="Why would you like to join our community?" formControlName="Reasons")
          mat-form-field(class='full-width')
            mat-label Experiences
            textarea(matInput placeholder="Experiences in previous private minecraft servers" formControlName="Experiences")
        mat-form-field(class='full-width')
          mat-label Select the sentences which match your favorite minecraft activities
          mat-select('[formControl]'="Activities" multiple)
            mat-option(*ngFor="let activity of activityList" '[value]'="activity") {{activity}}
        mat-form-field(class='full-width')
          mat-label Showcase your builds by adding a link to a website with pictures of any of your previous work
          input(matInput '[formControl]'='linkFormControl')
          mat-error(*ngIf="linkFormControl.hasError('pattern') && !linkFormControl.hasError('required')") You must specify a valid URL
          mat-error(*ngIf="linkFormControl.hasError('required')") This field is required!
        div(class='buttons')
          button(mat-button matStepperPrevious) Back
          button(mat-button matStepperNext) Next
      mat-step(label='Reading things and contact information')
        div(class='form')
          p
            | I've read the rules and I will do my best to follow them,
            | I'm aware that if at any given moment I fail to comply to any of them
            | it can result in an immediate ban without any prior notification
            | and accept the privacy policy of the website, entrusting all
            | information previously filled to continue with my application process
          mat-checkbox(formControlName="Agreement" '[(ngModel)]'='checked') I Agree
          mat-form-field(class='full-width')
            mat-label Discord#Tag
            input(matInput formControlName="Discord")
        div(class='buttons')
          button('(click)'='openRules()' mat-raised-button color='primary') Read the Community Rules
          button('(click)'='openPrivacyPolicy()' mat-raised-button color='primary') Read the Privacy Policy
        div(class='buttons')
          button(mat-button matStepperPrevious) Back
          button(*ngIf='applicationForm.valid && checked' mat-button '[mat-dialog-close]'='true' '(click)'='onSubmit(applicationForm.value)') Submit
          button(*ngIf='!applicationForm.valid' mat-button '[mat-dialog-close]'='true' '(click)'='onSubmit(applicationForm.value)' disabled) You're missing some fields!
          button(*ngIf='applicationForm.valid && !checked' mat-button '[mat-dialog-close]'='true' '(click)'='onSubmit(applicationForm.value)' disabled) You need to check the box above!
mat-dialog-actions
  button(mat-button mat-dialog-close) Cancel

