a('[routerLink]'='["/"]')
  div(class="container")
    img(src="assets/rainbow.png")
    span(class="title") QbitMC
div(class="container")
  button(mat-flat-button color="primary" '[routerLink]'='["/about-us"]') About us
  button(*ngIf='!qbitor' mat-flat-button color="primary" '(click)'="openApplication()") Apply
  button(*ngIf='!qbitor' mat-flat-button color="primary" '(click)'="openLogIn()") Log In
  button(*ngIf='qbitor' mat-flat-button color="primary" '[routerLink]'='["/community"]') Community
  button(*ngIf='qbitor' mat-flat-button color="primary" '(click)'="logOut()") Log Out
  button(*ngIf='staff' mat-flat-button color="primary" '(click)'="openStaffMenu()") Staff Menu
