stripe-card(
  #stripeCard
  '(catch)' = "onStripeError($event)"
  '[(invalid)]' = "invalidError"
  '(cardMounted)' = "cardReady = 1"
  '(tokenChange)' = "setStripeToken($event)"
  '(sourceChange)' = "setStripeSource($event)"
)
// TODO: Stripe frontend for subscriptions and single payment donations
