h2(mat-dialog-title) Staff Menu
mat-dialog-content
  mat-action-list
    button(mat-list-item '(click)'='openAnnounce()') Make an announcement
      mat-icon(matListAvatar) article
mat-dialog-actions(align='end')
  button(mat-button mat-dialog-close) Close
